.video-youtube-iframe{
    border: none;
    width:800px;
    height: 400px;
    padding: 0.2rem !important;
    margin: 0 !important;
    @media (min-width:280px) and (max-width:700px){
        width: 95vw;
        height: calc(100vw / 2);
    }
}