.favs-page {
    background-color: #586f7c;
    min-height: 100vh;
    .favs-top-bloq{
        min-height: calc(100vh / 5);
        width: 100%;
    }
    .favs-page-main{
        padding: 0 5rem;
        h1{
            color:white;
            padding-left: 4rem;
            font-size: 24px;
            background-color: rgba(0, 0, 2, 0.11);
            padding: 1rem;
            letter-spacing: 1px;
        }
        .favs-page-content {
            display: grid;
            overflow: hidden;
            margin: 0 auto;
            min-height: 70vh;
            grid-auto-rows: auto;
            gap:1rem ;
            grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
           
            border-radius: 5px;
            padding: 2rem 0.5rem;
        }
    }
}