.favs-page {
    background-color: #17445e;
    min-height: 100vh;
    .favs-top-bloq{
        min-height: calc(100vh / 5);
        width: 100%;
    }
    .favs-page-main{
        padding: 0 5rem;
        h1{
            color:rgba(255, 255, 255, 0.774);
            padding-left: 4rem;
            font-size: 24px;
            background-color: rgba(253, 253, 253, 0.144);
            padding: 1rem;
            letter-spacing: 1px;
        }
        .favs-page-content {
            display: grid;
            overflow: hidden;
            margin: 0 auto;
            min-height: 70vh;
            grid-auto-rows: auto;
            gap:1rem ;
            grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
           
            border-radius: 5px;
            padding: 2rem 0.5rem;
        }
    }
    @media (min-width:280px) and (max-width:700px){
        .favs-top-bloq{
            min-height: 80px;
            width: 100%;
        }
        .favs-page-main{
            padding: 0 1rem;
            h1{
                font-size: 14px;
            }
            .favs-page-content {
                overflow: auto;
                justify-items: center;
                max-height: 70vh;
                gap:1rem 0.5rem ;
                grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
            }
        }
    }
}