.logo-nav{
    display: flex;
    font-family: 'Overpass',serif;
    color: white;
    font-size: 1.3rem;
    align-items: center;
    width: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0px 2px 5px black;
    sub{
        color: #ff5f03;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .second-word{
        color: rgb(21, 182, 245);
        font-weight: 800;
        font-size: 1.3rem;
    }
    @media (min-width:280px) and (max-width:700px){
        font-size: 1rem;
        sub{
            font-size: 1.2;
        }
        .second-word{
            font-size: 1rem;
        }
    }
}
