.mobile-button{
    color:rgb(204, 204, 204);;
    background-color: transparent;
    padding: 0.3rem;
    line-height: 0.5;
    border: none;
    text-shadow: 0px 0px 3px black;
    font-size: 1.2rem;
}
.mobile-menu-drawer{
    background-color: #17445e !important;
    width: 100% !important;
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &>ul{
        width: 100%;
        padding: 0;
        list-style: none;
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0;
        &>hr{
            width:90%;
            height: 0.2px;
            color: rgba(255, 255, 255, 0.137);
            background-color: rgba(0, 0, 0, 0.144);
            border: 1px solid;
        }
        &>li>a{
            text-decoration: none;
            color: rgb(204, 204, 204);
            font-size: 0.8rem;
        }
    }
    .mobile-menu-header{
        width: 100%;
        padding: 0.5rem;
    }
    .mobile-menu-close{     
        text-shadow: 0px 5px 3px black;
        line-height: 0.5;
        padding: 0.4rem;
        font-size: 1.2em;
        margin-left: 1rem;
        background-color: #25688f;
        border: none;
        border-radius: 4px;
        font-weight: 800;
        color: rgba(255, 255, 255, 0.699);
        
    }
}