.movie-card{
    width:12rem;
    height: 18rem;
    position:relative;
    box-shadow: 5px 5px 20px black;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    &>.movie-card-overlay{
        position: absolute;
        z-index: 9;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        backdrop-filter: blur(1px);
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    @media (min-width:1000px) and (max-width:1800px) {
        &:hover{
            width: 14rem;
            transition: all linear 1s;
            transform: scale(1.2);
            .movie-card-overlay{
                display: flex;
                p{
                    animation-name: view;
                    animation-timing-function: ease-in-out;
                    animation-duration: 1s;
                }
                .overlay-options-card{
                    animation-name: view;
                    animation-timing-function: linear;
                    animation-duration: 1s ;
                }
                @keyframes view {
                    from{
                        opacity: 0;
                        transform: translateY(50px);
                    };
                    to{
                        opacity: 1;
                        transform: translateY(0);
                    };
                }
            }
        }
    }
}


/*
@media (min-width:1000px) and (max-width:1800px) {
        &:hover{
            width: 14rem;
            overflow-y: visible;
            transition: all ease-out 1s;
            transform: scale(1.2);
            &>.movie-card-overlay>p{
                display: flex;
                animation-name: view;
                animation-timing-function: ease-in-out;
                animation-duration: 1s;
                background-color: black;
                @keyframes view {
                    0%{
                        opacity: 0;
                        transform: translateY(50px);
                    }
                    50%{
                        opacity: 0.5;
                        transform: translateY(25px);
                    }
                    100%{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }

            }
        }   
    }
*/