.nav{
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 1rem 0rem;
    text-shadow: 1px 1px 2px black;
    &>.innerNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .nav-section{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            list-style: none;
            color: rgb(204, 204, 204);
            font-size: 1rem;
            font-weight: 600;
            .nav-link{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                li{
                    a{
                        text-decoration: none;
                        color: rgb(204, 204, 204);
                    }
                    &:hover{
                        transform: scale(1.2);
                        text-shadow: 10px 10px 5px black;
                        transition: all linear 1s;
                    }
                }
            }
        }
    }
    .active-link-nav{
        border-bottom: 1px solid white;
    }
    @media (min-width:700px) and (max-width:1000px){
        background-color: rgb(14, 14, 32);
        .mobile-button{
            display: block;
        }
    }
    @media (min-width:1000px) and (max-width:1800px){
        .mobile-button{
            display: none;
        }
    }
}