.video-content{  
    width: 100%;
    height: calc(100vh);
    display:inline-flex;
    flex-direction: center;
    align-items: center;
    background-color: rgba(5, 5, 5, 0.493);
    .video-content-inner{
        margin: 0 auto;
        width:600px ;
        height: 400px;
        background-color: black;
    }
}