.video-content{  
    position: fixed;
    z-index: 140;
    width: 100vw;
    height: 100vh;
    display:inline-flex;
    flex-direction: center;
    align-items: center;
    background-color: rgba(5, 5, 5, 0.664);
    .video-content-inner{
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
        width:auto ;
        height: fit-content;
        background-color: black;
    }
}