.video-content{  
    position: fixed;
    z-index: 140;
    width: 100vw;
    height: 100vh;
    display:inline-flex;
    flex-direction: center;
    align-items: center;
    background-color: rgba(5, 5, 5, 0.664);
    .video-content-inner{
        position: relative;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        width:fit-content ;
        height: max-content;
        background-color: #17445e;
        border-radius: 4px;
        z-index: 4;
        &>button{
            position: absolute;
            line-height: 0.5px;
            padding: 0.2rem;
            right: 5px;
            top: 5px;
            font-size: 1.5rem;
            background-color: #17445e;
            border: none;
            border-radius: 4px;
            font-weight: 800;
            z-index: 100 !important;
            color: rgba(255, 255, 255, 0.699);
            &:hover{
                background-color:  #22648a;
            }
        }
    }
}