.search-button{
    padding: 0 !important;
    display: flex;
    align-items: center;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    svg{
        font-size: 2rem;
        width: 100% !important;
        height: 100% !important;
        padding: 0;
        color: rgb(204, 204, 204);
        border-radius: 100%;
    }
    @media (min-width:1000px) and (max-width:1800px){
        &:active{
            background-color: black;
        }
        &:hover{
            svg{
                transition: all linear 500ms;
                color: white;
            }
            transition: all linear 500ms;
            box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.37),-2px -2px 1px rgba(255, 255, 255, 0.349);
        }
    }
}