.search-component {

    font-family: 'Overpass', serif;

    .search-input-section {
        position: relative;
        display: flex;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    &>.search-input-section>input {
        outline: none;
        border: none;
        padding: 0.1rem 0.4rem;
        font-size: 1rem;
        font-weight: 300;
        width: 250px;
        border-radius: 4px;
    }

    @media (min-width:280px) and (max-width:700px) {
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        .search-input-section {
            width: 100%;

            .icon-search-input {
                position: absolute;
                right: calc(5vw);
                top: 0.2rem;
                color: rgb(95, 93, 93);
                font-size: 2rem;
            }
        }

        &>.search-input-section>input {
            width: 90%;
            margin: 0 auto;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
        }
    }
    @media (min-width:1024px) and (max-width:1800px) {
        &>.search-input-section>input {
            width: 100%;
            margin: 0 auto;
            font-size: 1rem;
            padding: 0.4rem 1rem;
        }
    }
}

.display-searchs {
    position: absolute;
    background-color: #17445e;
    text-shadow: none;
    color: black;
    padding: 0.5rem 0.3rem;
    overflow: auto;
    @media (min-width:700px) and (max-width:1024px){
        .display-searchs-inner{
            width: 350px !important;
        }
        top: 70%!important;
    }
    @media (min-width:1024px) and (max-width:1200px){
        top: 80%!important;
    }
    @media (min-width:1200px) and (max-width:1800px){
        top: 3.5rem !important;
    }

}
.display-searchs-mobile-inner{
    margin: 0 auto;
    margin-top: 5%;
    width: 90% !important;
    height: 80vh !important;
    max-width: none  !important;
    max-height: none !important;
}