.mySwiper {
    width:95%;
    height: auto;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .swiper-slide-section {
    width:fit-content;
    max-height: 18rem;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide-section img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section-title{
    font-size: 20px;
    color: rgb(194, 194, 194);
    font-size: 'Overpass',serif;
    letter-spacing: 1px;
    @media (min-width:700px) and (max-width:1000px){
      font-size: 16px;
    }
  }